@model CategoryDetailsModel

@{
    Layout = "_ColumnsTwo";
    NopHtml.AppendPageCssClassParts("html-documentation-page");

    NopHtml.AddCssFileParts("/Plugins/NopStation.Plugin.Widgets.Documentation/Themes/DefaultClean/contents/css/styles.css", string.Empty);
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "/Plugins/NopStation.Plugin.Widgets.Documentation/Themes/DefaultClean/contents/js/script.js");
}

@section left {
    @await Component.InvokeAsync("DocumentationCategory", new { categoryId = Model.Id, articleId = 0 })
}

@*
@section heading {
    <h2 class="temporari-heading text-uppercase font-bold text-white">@Model.Name</h2>         
}
*@


<div class="page blogpost-page">
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">
        <div class="post-body">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>