@model CustomerTrackerModel

@{
    const string hideInfoBlockAttributeName = "customerTrackerPage.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);

    const string hideDisplayBlockAttributeName = "customerTrackerPage.HideDisplayBlock";
    var hideDisplayBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideDisplayBlockAttributeName, defaultValue: true);


}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">

            <nop-cards id="customerTracker-cards">
                <nop-card asp-name="customerTracker-info" asp-icon="fas fa-info" asp-title="@T("Admin.customerTrackers.Info")"
                          asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">
                          @await Html.PartialAsync("~/Plugins/Widgets.Customer/Views/_CreateOrUpdate.Info.cshtml", Model)
                          </nop-card>
            </nop-cards>
        </div>
    </div>
</section>