@{
    Layout = "_ColumnsTwo";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p style="color:orangered; font-size:50px">
                <b>@T("Plugins.Payments.Stripe.Fields.CancelMassege")</b>
            </p>
        </td>
    </tr>
</table>
